POSTGRES_DB=gophermart_db
POSTGRES_USER=gophermart_user
POSTGRES_PASSWORD=gophermart_password
DATABASE_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
RUN_ADDRESS=:8080
ACCRUAL_SYSTEM_ADDRESS=http://localhost:9090
LOG_LEVEL=DEBUG
JWT_SECRET=swordfish
SALT_SECRET=secret
GIN_MODE=release
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=$DATABASE_URI
GOOSE_MIGRATION_DIR=./migrations/sql